
<!--
.navbar {
    margin-bottom: 0;
    padding: 0px;
}

.container-fluid {
    padding: 0;
}

-->


.myCarousel {
  height: 400px !important;
}


.carouselimage {
    height: 400px !important;
    width: 900px !important;
    margin:auto;
}

.bridge {
    text-align: center;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

.row {
    margin: auto;
}
